
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes floatingLogo {
  0%   { transform: translate(0px, -10px); }
  10%  { transform: translate(5.88px, -8.09px); }
  20%  { transform: translate(9.51px, -3.09px); }
  30%  { transform: translate(7.51px, 3.09px); }
  40%  { transform: translate(5.88px, 8.09px); }
  50%  { transform: translate(0px, 10px); }
  60%  { transform: translate(-5.88px, 7.09px); }
  70%  { transform: translate(-9.51px, 3.09px); }
  80%  { transform: translate(-7.51px, -3.09px); }
  90%  { transform: translate(-5.88px, -8.09px); }
  100% { transform: translate(0px, -10px); }
}

.diamond-container {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100px;
  background: radial-gradient(
    
    var(--specialColor),
    var(--specialColorLogo) 
  );
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  box-shadow: 1px 6px 12px #333;
  animation: floatingLogo 20s linear infinite;
  
  z-index: 1;
}

/* Borde brillante */
.diamond-container::before {
  content: '';
  position: absolute;
  inset: -2px; /* Para expandir ligeramente fuera */
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.6); /* blanco semitransparente */
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  border-radius: 0; /* por compatibilidad */
  z-index: -1; /* debajo del diamante */
  pointer-events: none;
}
