
.navegacion{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.textInit{
    display: flex;
    position: relative;
    width: auto;
    width: 75%;
    left: 0;
    margin: 200px 50px -50px 50px;
}
.justify{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    overflow: hidden;
}
.justify2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width:80%;
    justify-content: center;
}
.img-3d-persona{
    position: absolute;
    top: -30px;
    right: 50px;
}