@import "tailwindcss";

:root {
  --fondoLight: #eeeeee;
  --fondoDark: #00033a;
  --specialColor: #deb71a;
  --specialColorLogo: #4c5100;
  --notify:rgb(230, 1, 1);
}
body{
  background-color: black;
}